<div class="footer mt-5">
  <div>
    <div class="image-bg">
    <span class="text d-flex justify-content-center">
      Sự hiện diện của bạn là niềm vinh hạnh cho chúng tôi!
    </span>
    </div>
    <div class="border-bottom mb-4 mt-4"></div>
    <div class="d-flex p-0 justify-content-center my-auto">
      <a class="brand-icon-header d-flex justify-content-center me-2" role="button" style="color: inherit">
        <i class="bi bi-twitter"></i>
      </a>
      <a class="brand-icon-header d-flex justify-content-center me-2" role="button" href="https://www.facebook.com/giang.huong.56863" target="_blank" style="color: inherit">
        <i class="bi bi-facebook"></i>
      </a>
      <a class="brand-icon-header d-flex justify-content-center" role="button" href="https://www.instagram.com/mei1594" target="_blank" style="color: inherit">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <img src="assets/images/bg-footer.png" alt="bg-footer">
  </div>
</div>

