<div class="d-flex justify-content-center">
  <div id="clock-div">
    <div class="me-2">
      <span class="days">{{day}}</span>
      <div class="small-text">Ngày</div>
    </div>
    <div class="me-2">
      <span class="hours">{{hour}}</span>
      <div class="small-text">Giờ</div>
    </div>
    <div class="me-2">
      <span class="minutes">{{minute}}</span>
      <div class="small-text">Phút</div>
    </div>
    <div>
      <span class="seconds">{{second}}</span>
      <div class="small-text">Giây</div>
    </div>
  </div>
</div>

