<div class="container-fluid mt-5">
  <div class="row m-10 d-flex justify-content-center">
    <img src="assets/images/home-image.jpg" class="img-fluid" alt="home-image" loading="lazy">
  </div>

  <div class="row mt-5">
    <div class="col-6 text-homepage" style="color: #A28E84">
      <span class="d-flex justify-content-end">Thien</span>
      <span class="d-flex justify-content-end">
        Can
      </span>
    </div>
    <div class="col-6 text-homepage">
      <span class="d-flex">Huong</span>
      <span class="d-flex">
        Giang
      </span>
    </div>
  </div>

  <div class="row mt-5">
    <span class="text d-flex justify-content-center">
      Are getting married! Save the date:
    </span>
  </div>

  <div class="row mt-5">
    <span class="text-date">
      <span style="letter-spacing: 0.1em">13/11</span>
      <br />
      <span style="letter-spacing: 0.05em">2022</span>
      <br />
      <span style="letter-spacing: -0.02em; margin-right: 5px">07:00</span>
    </span>
  </div>

  <div class="row mt-5">
    <app-countdown></app-countdown>
  </div>

  <div class="row mt-5">
    <span class="text">
      “Loved you yesterday, love you still, always have, always will.”
    </span>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4 border-right">
      <div class="text-label d-flex justify-content-center">
        Nhà gái
      </div>
      <div class="d-flex justify-content-center">
        <img src="assets/images/bride.JPG" alt="location" class="rounded-circle avatar">
      </div>
    </div>
    <div class="col-lg-4 border-right">
      <div class="text-label d-flex justify-content-center">
        Thời gian
      </div>
      <span class="text d-flex justify-content-center">
        Thứ Bảy, ngày 12 tháng 11 năm 2022, <br> 10:00
      </span>

      <span class="mt-4 d-flex justify-content-center more-info" routerLink="/time">
        Xem thêm
        <span class="ms-2 dot my-auto"></span>
      </span>
    </div>
    <div class="col-lg-4 mt-5 mt-lg-0">
      <div class="text-label d-flex justify-content-center">
        Địa điểm
      </div>
      <span class="text d-flex justify-content-center">
        Trống Đồng Palace, CV Bán Đảo Linh Đàm, <br> Quận Hoàng Mai, Hà Nội
      </span>
      <span class="mt-4 d-flex justify-content-center more-info" routerLink="/location">
        Xem bản đồ
        <span class="ms-2 dot my-auto"></span>
      </span>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4 border-right">
      <div class="text-label d-flex justify-content-center">
        Nhà trai
      </div>
      <div class="d-flex justify-content-center">
        <img src="assets/images/groom.JPG" alt="location" class="rounded-circle avatar">
      </div>
    </div>
    <div class="col-lg-4 border-right">
      <div class="text-label d-flex justify-content-center">
        Thời gian
      </div>
      <span class="text d-flex justify-content-center">
        Thứ Bảy, ngày 12 tháng 11 năm 2022, <br> 17:00
      </span>

      <span class="mt-4 d-flex justify-content-center more-info" routerLink="/time">
        Xem thêm
        <span class="ms-2 dot my-auto"></span>
      </span>
    </div>
    <div class="col-lg-4 mt-5 mt-lg-0">
      <div class="text-label d-flex justify-content-center">
        Địa điểm
      </div>
      <span class="text d-flex justify-content-center">
        An Định, Xã Tô Hiệu, <br> Huyện Thường Tín, Hà Nội
      </span>
      <span class="mt-4 d-flex justify-content-center more-info" routerLink="/location">
        Xem bản đồ
        <span class="ms-2 dot my-auto"></span>
      </span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="d-flex justify-content-center mb-3">
      <img src="assets/images/upload.JPG" alt="image" class="rounded-circle avatar">
    </div>
    <span class="text-link d-flex justify-content-center">
      Cùng chia sẻ những bức ảnh đẹp
    </span>
    <span class="text-link d-flex justify-content-center">
      trong đám cưới với chúng tôi nhé!
    </span>
    <span class="d-flex justify-content-center mt-4 upload-image">
        <a href="https://drive.google.com/drive/u/0/folders/149_HygmvQ2cw0Mnr43xWCPYcTl7WQyP5" target="_blank" style="color: inherit; text-decoration: none">
          Upload
          <i class="bi bi-cloud-arrow-up my-auto main-color"></i>
          </a>
      </span>
  </div>
</div>
