<div class="container-fluid mt-5">
  <div class="row m-10 d-flex justify-content-center">
    <img src="assets/images/home-image.jpeg" class="img-fluid" alt="home-image">
  </div>

  <div class="row mt-5">
    <div class="col-6 text-homepage" style="color: #A28E84">
      <span class="d-flex justify-content-end">Thien</span>
      <span class="d-flex justify-content-end">
        Can
      </span>
    </div>
    <div class="col-6 text-homepage">
      <span class="d-flex">Huong</span>
      <span class="d-flex">
        Giang
      </span>
    </div>
  </div>

  <div class="row mt-5">
    <span class="text d-flex justify-content-center">
      Are getting married! Save the date:
    </span>
  </div>

  <div class="row mt-5">
    <span class="text-date">
      <span style="letter-spacing: 0.1em">13/11</span>
      <br />
      2022
      <br />
      <span style="letter-spacing: -0.01em">07:00</span>
    </span>
  </div>

  <div class="row mt-5">
    <app-countdown></app-countdown>
  </div>

  <div class="row mt-5">
    <span class="text">
      “Loved you yesterday, love you still, always have, always will.”
    </span>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4 border-right">
      <div class="text-label d-flex justify-content-center">
        Nhà gái
      </div>
      <div class="d-flex justify-content-center">
        <img src="assets/images/bride.JPG" alt="location" class="rounded-circle avatar">
      </div>
    </div>
    <div class="col-lg-4 border-right">
      <div class="text-label d-flex justify-content-center">
        Thời gian
      </div>
      <span class="text d-flex justify-content-center">
        Thứ Bảy, ngày 12 tháng 11 năm 2022, <br> 10:00
      </span>

      <span class="mt-4 d-flex justify-content-center more-info" routerLink="/time">
        Xem thêm
        <span class="ms-2 dot my-auto"></span>
      </span>
    </div>
    <div class="col-lg-4 mt-5 mt-lg-0">
      <div class="text-label d-flex justify-content-center">
        Địa điểm
      </div>
      <span class="text d-flex justify-content-center">
        Trống Đồng Palace, CV Bán Đảo Linh Đàm, <br> Quận Hoàng Mai, Hà Nội
      </span>
      <span class="mt-4 d-flex justify-content-center more-info" routerLink="/location">
        Xem bản đồ
        <span class="ms-2 dot my-auto"></span>
      </span>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4 border-right">
      <div class="text-label d-flex justify-content-center">
        Nhà trai
      </div>
      <div class="d-flex justify-content-center">
        <img src="assets/images/groom.JPG" alt="location" class="rounded-circle avatar">
      </div>
    </div>
    <div class="col-lg-4 border-right">
      <div class="text-label d-flex justify-content-center">
        Thời gian
      </div>
      <span class="text d-flex justify-content-center">
        Chủ Nhật, ngày 13 tháng 11 năm 2022, <br> 7:00
      </span>

      <span class="mt-4 d-flex justify-content-center more-info" routerLink="/time">
        Xem thêm
        <span class="ms-2 dot my-auto"></span>
      </span>
    </div>
    <div class="col-lg-4 mt-5 mt-lg-0">
      <div class="text-label d-flex justify-content-center">
        Địa điểm
      </div>
      <span class="text d-flex justify-content-center">
        An Định, Xã Tô Hiệu, <br> Huyện Thường Tín, Hà Nội
      </span>
      <span class="mt-4 d-flex justify-content-center more-info" routerLink="/location">
        Xem bản đồ
        <span class="ms-2 dot my-auto"></span>
      </span>
    </div>
  </div>
</div>
